* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #40798c;
    --main-dark-color: #0b2027;
    --text-color: #cfd7c7;
    --button-color: #70a9a1;
}

h1:first-of-type {
    color: var(--text-color);
}

button {
    background-color: var(--main-dark-color);
    color: var(--text-color);
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

body {
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#turn-tracker {
    color: var(--text-color);
    margin-top: 10px;
}

#gameboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 25px;
    padding-top: 50px;
}

.square {
    height: 100px;
    width: 100px;
    border: 1px solid var(--main-dark-color);
}

#square-0 {
    border-top: none;
    border-left: none;
}
#square-1 {
    border-top: none;
}
#square-2 {
    border-right: none;
    border-top: none;
}
#square-3 {
    border-left: none;
}
#square-5 {
    border-right: none;
}
#square-6 {
    border-left: none;
    border-bottom: none;
}
#square-7 {
    border-bottom: none;
}
#square-8 {
    border-right: none;
    border-bottom: none;
}

footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--main-dark-color);
    border-top: 2px solid var(--main-dark-color);
    color: var(--text-color);
}
