* {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    overflow: hidden;
    margin: 0;
    font-family: "Arvo", sans-serif;
}

:root {
    --main-bg-color: #40798c;
    --main-dark-color: #0b2027;
    --text-color: #cfd7c7;
    --button-color: #70a9a1;
}

h1:first-of-type {
    color: var(--text-color);
    text-shadow: var(--main-dark-color) 8px 8px 5px;
}

input {
    border-color: var(--main-dark-color) var(--button-color)
        var(--main-dark-color) var(--button-color);
}

button {
    background-color: var(--main-dark-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

#reset {
    background-color: var(--button-color);
    color: var(--main-dark-color);
}

.get-started {
    display: grid;
    gap: 5px;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

input {
    width: 10rem;
    border-radius: 5px;
    padding: 5px;
}

.disabled:hover {
    cursor: not-allowed;
}

#turn-tracker {
    color: var(--text-color);
    margin: 20px 0;
    font-weight: 700;
    font-size: larger;
    padding: 0 1rem;
    text-align: center;
    text-wrap: wrap;
}

#gameboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.square {
    height: 100px;
    width: 100px;
    border: 3px solid var(--main-dark-color);
    display: grid;
    place-items: center;
    font-size: 48px;
}

.square:hover {
    cursor: pointer;
}

[data-cell="1"] {
    border-top: none;
    border-left: none;
}
[data-cell="2"] {
    border-top: none;
}
[data-cell="3"] {
    border-right: none;
    border-top: none;
}
[data-cell="4"] {
    border-left: none;
}
[data-cell="6"] {
    border-right: none;
}
[data-cell="7"] {
    border-left: none;
    border-bottom: none;
}
[data-cell="8"] {
    border-bottom: none;
}
[data-cell="9"] {
    border-right: none;
    border-bottom: none;
}

footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--main-dark-color);
    border-top: 2px solid var(--main-dark-color);
    color: var(--text-color);
}
